// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato|Roboto|Work+Sans");
$font-family-a: 'Lato', sans-serif;
$font-family-b: 'Roboto', sans-serif;
$font-family-c: 'Work Sans', sans-serif;

// Colors 
$color-a: #0C2051; 
$color-b: #0A45E3; 
$color-off-white: #F5F5F5; 
$color-grey: #C4C4C4; 
$color-selected-bill-icon: #C9935B;



