@import "main";

* {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}

.bill-container {
  display: flex;
  flex-direction: column; 
  background-color: $color-grey; 
  height: 18vh; 
  width: 65%; 
  margin: 20px 0 20px 0;  
  border-radius: 15px; 
  padding: 10px; 
  p {
    font-family: $font-family-b; 
    font-weight: 600; 
    font-size: 2rem; 
    color: #000000; 
  }
  .bookmark-icon {
    height: 30px; 
    width: 30px; 
  }
  .top-level-card {
    display: flex; 
    justify-content: space-between; 
    margin: 20px 
  }
  .bill-title-container {
    text-align: center; 
  }
  .bottom-level-card {
    display: flex; 
    justify-content: space-between;
    text-align: center; 
  }
}

