@import "main";


.bill-container {
  display: flex;
  justify-content: space-between; 
  background-color: $color-grey; 
  border: 8px solid $color-off-white;
  height: 20vh; 
  width: 50%; 
  margin: 20px 0 20px 0;  
  border-radius: 15px; 
  padding: 20px; 
}
.tracked-bill-container {
  display: flex;
  justify-content: space-between; 
  background-color: $color-off-white; 
  border: 8px solid $color-b;
  height: 20vh; 
  width: 50%; 
  margin: 20px 0 20px 0;  
  border-radius: 15px; 
  padding: 20px; 
}
.who-container {
  display: flex; 
  width: 40%; 
  flex-direction: column; 
  justify-content: space-around; 
}
  p {
    font-family: $font-family-b; 
    font-weight: 600; 
    font-size: 1.5rem; 
    color: #000000; 
  }
  .icon-container {
    margin-right: 60px; 
    position: absolute;  
    right: 0;
    top: 1px; 
  }
  .bookmark-icon {
    height: 40px; 
    width: 40px; 
    cursor: pointer;
  }
  .bill-id-container {
    margin-right: 10px; 
  }
  .chamber-container {
    flex-direction: row; 
  }
  .committees-container {
    display: flex; 
    flex-direction: row; 
  }
  .details-container {
    width: 40%; 
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    position: relative;
  }
  .bill-title {
    margin-top: 1rem; 
  }



  

