@import "main";


.bill-container {
  display: flex;
  // flex-direction: row; 
  // justify-content: space-around; 
  background-color: $color-grey; 
  border: 8px solid $color-off-white;
  height: 20vh; 
  width: 60%; 
  margin: 20px 0 20px 0;  
  border-radius: 15px; 
  padding: 20px; 
}
.tracked-bill-container {
  display: flex;
  // flex-direction: row; 
  // justify-content: space-around; 
  background-color: $color-off-white; 
  border: 8px solid $color-b;
  height: 20vh; 
  width: 60%; 
  margin: 20px 0 20px 0;  
  border-radius: 15px; 
  padding: 20px; 
}
.who-container {
  display: flex; 
  width: 40%; 
  // flex-wrap: wrap; 
  flex-direction: column; 
  justify-content: space-around; 
  // justify-content: space-around;
}
  p {
    font-family: $font-family-b; 
    font-weight: 600; 
    font-size: 1.5rem; 
    color: #000000; 
  }
  .icon-container {
    margin-right: 60px; 
  }
  .bookmark-icon {
    height: 40px; 
    width: 40px; 
    cursor: pointer;
  }
  .bill-id-container {
    margin-right: 10px; 
  }
  .chamber-container {
    flex-direction: row; 
  }
  .committees-container {
    display: flex; 
    flex-direction: row; 
    // margin-right: 10px; 
    // padding: 10px; 
  }
  // .sponsor-container {

  // }
  .bill-title-container {
    h4 {
      font-family: $font-family-b; 
      font-weight: 600; 
      font-size: 1.5rem; 
      color: #000000;
    }
  }

