@import "main";
* {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}

.content-container {
  display: flex; 
  flex-direction: column; 
  background-color: $color-a; 
}

.inner-content-container {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.search-subject-container {
  margin-left: 8px; 
}

.loading-container {
  display: flex;  
  flex-direction: column;  
  align-items: center; 
  justify-content: space-around;
  margin-top: 200px;  
  height: 50vh; 
}

