@import "main";

form {
  display: flex; 
  align-items: center; 
  flex: 1 0; 
  input {
    // flex: 3;
    border: border 2px solid $color-grey; 
    box-shadow: 1px 2px 2px $color-a; 
    background-color: $color-b; 
    color: $color-off-white; 
    font-family: $font-family-a;
    font-weight: 600; 
    font-size: 3rem; 
    text-indent: 2rem; 
    padding: 10px; 
    margin-right: 5px; 
    width: 30%; 
    height: 80%; 
    &::placeholder { color: $color-off-white} 
  } 
}